<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="https://image.migros.ch/fm-lg/3f589328c438a23a2321147a7ec16ab224aa89d9/sony-playstation-5-slim-spielkonsole.jpg" class="card-img-top" alt="PlayStation 5">
            <div class="card-body">
                <h5 class="card-title">PlayStation 5</h5>
                <p class="card-text">La nuova PlayStation!</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="https://image.smythstoys.com/zoom/182001.jpg" class="card-img-top" alt="Nintendo Switch">
            <div class="card-body">
                <h5 class="card-title">Nintendo Switch</h5>
                <p class="card-text">Gioco di Pokémon incluso.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="https://www.lowprice.ch/102111-large_default/detersivo-liquido-extra-igienizzante.jpg" class="card-img-top" alt="Detersivo Dash">
            <div class="card-body">
                <h5 class="card-title">Detersivo Dash</h5>
                <p class="card-text">Pacco da 6.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="https://www.amuchina.it/media/pspka53c/saponemaniamuchina_b2_indratante.png" class="card-img-top" alt="Sapone">
            <div class="card-body">
                <h5 class="card-title">Sapone per le mani</h5>
                <p class="card-text">Sapone per le mani ricaricabile. Ricarica non inclusa.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="https://p4-ofp.static.pub/fes/cms/2023/03/28/7dch8vg9lz0tzeg74u3x9paoln4o8z319478.png" class="card-img-top" alt="Tablet">
            <div class="card-body">
                <h5 class="card-title">Tablet Lenovo</h5>
                <p class="card-text">Tablet Lenovo P12 Pro.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="https://www.dalavoro.com/26181-thickbox_default/t-shirt-rossa-regular-m-c.jpg" class="card-img-top" alt="Maglietta">
            <div class="card-body">
                <h5 class="card-title">Maglietta</h5>
                <p class="card-text">Disponibile in diversi colori.</p>
            </div>
        </div>
    </div>
</div>