<form>
    <div class="row mb-4">
        <div class="col">
            <label>Nome:</label>
            <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="order.name" name="name">
        </div>
        <div class="col">
            <label>Cognome:</label>
            <input type="text" class="form-control" placeholder="Cognome" [(ngModel)]="order.surname" name="surname">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <label>Indirizzo:</label>
            <input type="text" class="form-control" placeholder="Indirizzo e numero civico" [(ngModel)]="order.address" name="address">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <label>Merce da comprare:</label>
            <input type="text" class="form-control" placeholder="PlayStation 5" [(ngModel)]="order.goods" name="goods">
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <label>Metodo di pagamento:</label>
            <select class="form-select">
                <option selected disabled>Scegli...</option>
                <option value="1">Contanti</option>
                <option value="2">Mastercard</option>
                <option value="3">VISA</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-5 px-4 mx-auto d-block" (click)="open(orderModal)">Ordina</button>
</form>


<ng-template #orderModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Ordine creato!</h4>
        <button
            type="button"
            class="btn-close"
            aria-label="Close button"
            aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')"
        ></button>
    </div>
    <div class="modal-body">
        <p>
            Il prodotto è stato ordinato!<br>
            Potete seguirne lo stato nella lista degli ordini.<br><br>

            Vi verrà proposto un prezzo per l'articolo entro 2-4 ore lavorative.
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Indietro</button>
        <button type="button" ngbAutofocus class="btn btn-primary" (click)="modal.dismiss('ok click')" routerLink="/history">Alla lista ordini</button>
    </div>
</ng-template>