<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID Ordine</th>
            <th scope="col">Prodotto</th>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">Indirizzo</th>
            <th scope="col">Metodo di Pagamento</th>
            <th scope="col">Data</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">3</th>
            <td>PlayStation 5</td>
            <td>Giuseppe</td>
            <td>Pistilli</td>
            <td>Via Roma 13</td>
            <td>VISA</td>
            <td>12/12/2023</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>PlayStation 5</td>
            <td>Giuseppe</td>
            <td>Pistilli</td>
            <td>Via Roma 13</td>
            <td>VISA</td>
            <td>12/12/2023</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>PlayStation 5</td>
            <td>Giuseppe</td>
            <td>Pistilli</td>
            <td>Via Roma 13</td>
            <td>VISA</td>
            <td>12/12/2023</td>
        </tr>
    </tbody>
</table>