<table class="table table-striped" style="font-size: 12px;">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID Ordine</th>
            <th scope="col">Prodotto</th>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">Indirizzo</th>
            <th scope="col">Prezzo</th>
            <th scope="col">Metodo di Pagamento</th>
            <th scope="col">Data</th>
            <th scope="col">Stato</th>
            <th scope="col">Azioni</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">5</th>
            <td>PlayStation 5</td>
            <td>Giuseppe</td>
            <td>Pistilli</td>
            <td>Via Roma 13</td>
            <td>-</td>
            <td>VISA</td>
            <td>12/12/2023</td>
            <td style="color: red;">ANNULLATO</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>PlayStation 5</td>
            <td>Giuseppe</td>
            <td>Pistilli</td>
            <td>Via Roma 13</td>
            <td>-</td>
            <td>VISA</td>
            <td>12/12/2023</td>
            <td style="color: red;">IN ATTESA...</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>PlayStation 5</td>
            <td>Giuseppe</td>
            <td>Pistilli</td>
            <td>Via Roma 13</td>
            <td>599€</td>
            <td>VISA</td>
            <td>12/12/2023</td>
            <td style="color: orange;">PREZZO DA ACCETTARE</td>
            <td>
                <button type="button" class="btn btn-success">Accetta</button>
                <button type="button" class="btn btn-danger" (click)="open(refuseModal)">Rifiuta</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>PlayStation 5</td>
            <td>Giuseppe</td>
            <td>Pistilli</td>
            <td>Via Roma 13</td>
            <td>-</td>
            <td>VISA</td>
            <td>12/12/2023</td>
            <td style="color: green;">IN VIAGGIO...</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>PlayStation 5</td>
            <td>Giuseppe</td>
            <td>Pistilli</td>
            <td>Via Roma 13</td>
            <td>-</td>
            <td>VISA</td>
            <td>12/12/2023</td>
            <td style="color: green;">COMPLETATO</td>
            <td></td>
        </tr>
    </tbody>
</table>

<ng-template #refuseModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Rifiuto del prezzo</h4>
        <button
            type="button"
            class="btn-close"
            aria-label="Close button"
            aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')"
        ></button>
    </div>
    <div class="modal-body">
        <p>
            <strong>Sei sicuro di voler annullare l'ordine per: <span class="text-primary">PlayStation 5</span>?</strong>
        </p>
        <p>
            Per ricomprare l'articolo, dovrete effettuare un nuovo ordine.
            Specificate il motivo per cui state annullando l'ordine:
        </p>
        <textarea class="form-control" placeholder="Prezzo troppo alto, é passato troppo tempo, ho sbagliato l'ordinazione, ..." rows="3"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Annulla</button>
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('Ok click')">Cancella l'ordine</button>
    </div>
</ng-template>