<div class="card-group">
    <div class="card" routerLink="/order">
        <img src="/pio-showcase/assets/buy-outline.png" class="card-img-top" alt="Acquista">
        <div class="card-body">
            <h5 class="card-title">Acquista</h5>
            <p class="card-text">Ordina ciò che vuoi al miglior prezzo sul mercato!</p>
        </div>
    </div>
    <div class="card" routerLink="/history">
        <img src="/pio-showcase/assets/list-outline.png" class="card-img-top" alt="Lista ordini">
        <div class="card-body">
            <h5 class="card-title">Lista Ordini</h5>
            <p class="card-text">Sfoglia la lista dei tuoi ordini precedenti.</p>
        </div>
    </div>
    <div class="card" routerLink="/showcase">
        <img src="/pio-showcase/assets/showcase.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Prodotti Popolari</h5>
            <p class="card-text">Sfoglia la lista dei nostri prodotti più venduti.</p>
        </div>
    </div>
</div>